.link {
    font-size: 20px;
}

#link-list-section {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

/*
To remove animation, delete animation- lines and set width and height to 100%.
*/

.link-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    overflow: hidden;
    animation-name: fade-in-top-to-bottom;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: 1000ms;
    animation-delay: 1300ms;
    height: 0%;
}
