#search-section {
    width: 100%;
    height: 10%;
}

/*
To delete animation, delete animation- lines and set width to 100%.
*/
#google-search {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    animation-name: fade-in-left-to-right;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: 500ms;
    animation-delay: 800ms;
    width: 0%;
    overflow: hidden;
}

#search-form{
    width: 100%;
}

#searchInput {
    background: none;
    color: inherit;
    border: none;
    border-bottom: solid 2px #98B670;
    font-family: inherit;
    font-size: inherit;
    width: 100%;
}
